/* Template: AvaLanche | Author: eriktailor | Version: 1.0  */
/*----------------------------------------------------------*/

/* -------------------------------- */
/* # Cold Skin */
/* -------------------------------- */


/* Section Titles */
.section-title {color: #77C4BC;}

/* Logo */
.logo {background: url('../../img/logo_cold.png') no-repeat 0 50%;}

/* Text Links */
a:hover, a:focus { color: #77C4BC;}

/* Menu item hover */
#menu a:hover {color: #77C4BC;}

/* Mobile menu icon */
.mobile-menu .icon {color: #77C4BC;}

/* Portfolio Item */
.portfolio-item-title span {color: #77C4BC;}
.portfolio-item:hover {background: #77C4BC;}
.portfolio-item-title span {color: #77C4BC;}

/* Portfolio Filtering */
.option-set a:hover .icon {color: #77C4BC; }
.option-set a:hover .filter-title {color: #77C4BC;}
.option-set a:hover .icon {box-shadow: 0 0 0 8px #77C4BC;}
.option-set a:hover .icon {box-shadow: 0 0 0 7px #77C4BC; color: #77C4BC;}

/* Team Member active */
.team-member:hover, .team-member-active {border: 15px solid #77C4BC;}
.memberProfile {background: #77C4BC;}
.bullet {background: url("../../img/bullet_cold.png");}

/* Our Process icons */
.process-icon.first  {background: url('../../img/process/process_01_cold.png') no-repeat 50% 0;}
.process-icon.second {background: url('../../img/process/process_02_cold.png') no-repeat 50% 0;}
.process-icon.third  {background: url('../../img/process/process_03_cold.png') no-repeat 50% 0;}
.process-icon.fourth {background: url('../../img/process/process_04_cold.png') no-repeat 50% 0;}

/* Our Process details */
.processInfo {background: #77C4BC;}

/* Service Item */
.service-item:hover {background: #77C4BC;}
.service-item-title span {color: #77C4BC;}
.service-item:hover .icon {color: #77C4BC;}

/* Testimonials Slider controls */
.prev:hover .icon, .next:hover .icon {color: #77C4BC;}

/* Blog Item */
.blog-item-title .line-1 {background: #77C4BC;}
.blog-article-intro {background: rgba(119,196,188,0.9);}

/* Contact */
.contact-title {color: #77C4BC;}
.small-button {background: #77C4BC;}
.map-title {color: #77C4BC;}
.office-info.right a {color: #77C4BC;}
.contact-info .icon {color: #77C4BC;}

/* Footer */
#footer {background: #77C4BC;}
















